{% extends "base.html"%}

{%block title%} Edita Cuenta por pagar{% endblock%}
{% block jscript%}
<script src="../static/js/validar-cedula-ruc.js">
</script>
{% endblock%}

{% block content%}
<div class="container article" id="wrap">
<a class="btn btn-primary" href="../cuentasporpagar/" style="float: left;"><span class="fui-arrow-left"></span>Clientes</a>

<h1>Editar Cuenta por pagar</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
    

        <div class="field">
            {{ form.fecha_vencimiento.errors }}
            <label for="id_fecha_nacimiento">Fecha Vencimiento:</label>
            {{ form.fecha_nacimiento }}
        </div>
          
     
        <input type="submit" class="btn btn-primary" value="Guardar Cuenta" ">
    </form>
   </div>
{% endblock%}