{% extends "base.html"%}

{%block title%} Registrar Gasto{% endblock%}
{% block jscript%}
<script src="../static/js/validar-cedula-ruc.js">
</script>
{% endblock%}

{% block content%}
<div class="container article" id="wrap">
<a class="btn btn-primary" href="../gastos/" style="float: left;"><span class="fui-arrow-left"></span>Gastos</a>

<h1>Registrar Gasto</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
    	<div class="field">
            {{ form.concepto.errors }}
            <label for="id_concepto">Concepto:</label>
            {{ form.concepto }}
        </div>
        
        <div class="field">
            {{ form.valor_gasto.errors }}
            <label for="id_valor_gastoa">Monto:</label>
            {{ form.valor_gasto }}
        </div>
        
        <div class="field">
            {{ form.fecha_gasto.errors }}
            <label for="id_fecha_gasto">Fecha Gasto:</label>
            {{ form.fecha_gasto }}
        </div>
        <div class="field">
            {{ form.beneficiario.errors }}
            <label for="id_beneficiario">Beneficiario:</label>
            {{ form.beneficiario }}
        </div>        
         
        <div class="field">
            {{ form.factura.errors }}
            <label for="id_factura">Factura:</label>
            {{ form.factura }}
        </div>
        <input type="submit" class="btn btn-primary" value="Guardar Gasto" onclick="validarDocumento(cedula);">
    </form>
   </div>
{% endblock%}