{% extends "base.html"%}

{%block title%} Nuevo Item{% endblock%}

{% block content%}
<div class="container article" id="wrap">
<a class="btn btn-primary" href="../inventario/" style="float: left;"><span class="fui-arrow-left"></span>Inventario</a>

<h1>Nuevo Item</h1>

    {% if form.errors %}
        <p style="color: red;">
            Parece que olvido ingresar alguna informacion, por favor intentelo de nuevo.
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
    	<div class="field">
            {{ form.codigo.errors }}<label for="codigo">Codigo:</label>{{ form.codigo }}
        </div>
        <div class="field">
            {{ form.nombre.errors }}<label for="nombre">Nombre:</label>{{ form.nombre }}
        </div>        
        <div class="field">
            {{ form.descripcion.errors }}<label for="descripcion">Descripcion:</label>{{ form.descripcion }}
        </div>
        <div class="field">
            {{ form.categoria.errors }}<label for="categoria">Categoria:</label>{{ form.categoria }}
        </div>
        <div class="field">
            {{ form.proveedor.errors }}<label for="proveedor">Proveedor:</label>{{ form.proveedor }}
        </div>
        <div class="field">
            {{ form.costo_unitario.errors }}<label for="costo_unitario">Costo:</label>{{ form.costo_unitario }}
        </div>
        <div class="field">
            {{ form.cantidad.errors }}<label for="cantidad">Cantidad:</label>{{ form.cantidad }}
        </div>
        <input type="submit" class="btn btn-primary" value="Guardar nuevo item" >
    </form>
   </div>
{% endblock%}